.logoContainer {
  position: fixed;
  top: 25rem;
  left: 40rem;
  width: 29rem;
  height: 31rem;
}

.contactsContainer {
  position: fixed;
  bottom: 3vw;;
  left: 3vw;;
}

.burgerButtonContainer {
  display: none;
  position: fixed;
  top: 20rem;
  right: 24rem;
  z-index: 102;
}

@media screen and (max-width: 480px) {

  .logoContainer {
    top: 20rem;
    left: 24rem;
    width: 24rem;
    height: 25rem;
  }

  .contactsContainer {
    display: none;
  }

  .burgerButtonContainer {
    display: block;
  }
}