.footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-gray);
  padding: 50rem 0;

}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.companyName {
  width: 142rem;
  height: 28rem;
  margin-bottom: 35rem;
}
.mail {
  font-size: var(--font-size-caption-small);
  font-family: var(--font-basic);
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
  line-height: 17rem;
  margin-bottom: 40rem;
  display: grid;
  grid-auto-flow: column;
  gap: 30rem;

}

.contactsContainer {
  margin-bottom: 30rem;
}

.year {
  font-size: var(--font-size-caption-small);
  font-family: var(--font-basic);
  color: var(--color-white);
  font-weight: 500;
  line-height: 17rem;
}
