.weWillSelect {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  height: 720rem;
  width: 100%
}

.textContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--font-basic);
  font-size: var(--font-size-big);
  font-weight: 500;
  line-height: 48rem;
  margin-bottom: 11rem;
}

.subtitle {
  font-family: var(--font-basic);
  font-size: var(--font-size-caption-middle);
  font-weight: 500;
  line-height: 23rem;
  margin-bottom: 15rem;
}
