@import url(./fonts/fonts.css);

:root {
  --font-basic: Montserrat, 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --color-white: white;
  --color-peach: #D5876F;
  --color-error: #87331a;
  --color-gray: #2A2C2E;
  --font-size-large: 4.9vw; /* 60px => 70 */
  --font-size-big: 2.8vw; /* 40px */
  --font-size-middle: 1.81vw ; /* 26px */
  --font-size-small: 1.68vw; /* 24px */
  --font-size-body: 1.12vw; /* 16px */
  --font-size-body-small: 1vw; /* 14px */
}
@media screen and (max-width: 460px) {
  :root {
    --font-size-large: 10.7vw; /* 40px */
    --font-size-big: 6.5vw; /* 24px */
    --font-size-middle: 4.8vw; /* 18px */
    --font-size-small: 3.8vw; /* 14px */
    --font-size-body: 2.7vw; /* 10px */
    --font-size-body-small: 2.3vw; /* 8px */
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

@keyframes openAniamtion {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes closeAniamtion {
  0% {opacity: 1}
  100% {opacity: 0}
}