@import url(./fonts/fonts.css);

:root {
  --font-basic: Montserrat, 'Roboto', 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --color-white: white;
  --color-peach: #D5876F;
  --font-size-large: 4.1vw;
  --font-size-big: 2.8vw;
  --font-size-middle: 1.6vw;
  --font-size-small: 1.4vw;
  --font-size-body: 1.15vw;
  --font-size-body-small: 0.8vw;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

@keyframes openAniamtion {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes closeAniamtion {
  0% {opacity: 1}
  100% {opacity: 0}
}