.designersList {
  width:100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.content {
  height: 38vw;
  width: 100%;
}

.titleConatainer {
  display: none;
  margin-bottom: 7vw;
  min-width: 0;
  min-height: 0;
}

.listContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

.elementContainer {

}

.listWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

@media screen and (max-width: 460px) {
  .content {
    height: 145vw;
  }
  .titleConatainer {
    display: flex;
    justify-content: center;
  }

  .listContainer {
    grid-template-columns: 100%;
  }

  .elementContainer {
    display: none;
  }

  .list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 3fr);
  }
}