.catalog {
  width: 100vw;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listElement {
  width: 50vw;
  height: 30vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementImage {
  width: 100%;
  height: 100%;
  transition: 0.5s linear transform;
  position: absolute;
  z-index: -1;
}

.elementTitle {
  font-weight: 100;
  font-size: var(--font-size-large);
  font-family: var(--font-basic);
  opacity: 0;
  transition: 0.5s linear opacity;
}

.listElement:hover .elementImage {
  transform: scale(1.1);
}

.listElement:hover .elementTitle {
  opacity: 1;
  cursor: pointer;
}