.container {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fakeFormContainer{
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}