.notFound {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 160rem;
  z-index: 2;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logoContainer {
  position: fixed;
  top: 14rem;
  left: 40rem;
  width: 29rem;
  height: 31rem;
}

.title {
  font-family: var(--font-basic);
  font-size: 300rem;
  font-weight: 500;
  line-height: 365rem;
}

.subtitle {
  font-size: var(--font-size-big);
  margin-bottom: var(--font-size-big);
  font-weight: 100;
}

@media screen and (max-width: 800px) {
  .notFound {
    background-size: cover;
  }
}