.atricles {
  width: 100%;
  height: 38vw;
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  width: 100%;
}

.list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 100%;
}


.listElement1 {

}

.articleCard1 {

}

.articleCard1:hover {
  transform: translateY(-10%);
}

.about1 {

}


.listElement2 {

}

.articleCard2 {
  grid-template-rows: 40% 60%;
  grid-template-areas: 
  'about'
  'image' ;
}

.articleCard2:hover {
  transform: translateY(10%);
}

.about2 {
  justify-content: flex-end;
}


.listElement3 {
  grid-column: 2 span;
}

.articleCard3 {
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  'image about';
}

.about3 {
  justify-content: center;
}

.articleCard3:hover .about3 {
  transform: translateY(-10%);
}

@media screen and (max-width: 460px) {
  .atricles {
    height: 143vw;
  }

  .list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 25%);
  }


  .listElement1 {

  }
  
  .articleCard1 {
    grid-template-columns: 43% 57% ;
    grid-template-rows: 100%;
    grid-template-areas: 
    'image about';
  }

  .articleCard1:hover {
    transform: none;
  }
  
  .about1 {
    justify-content: center;
  
  }
  
  .listElement2 {
  
  }
  
  .articleCard2 {
    grid-template-columns: 57% 43%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'about image';
  }

  .articleCard2:hover {
    transform: none;
  }
  
  .about2 {
    justify-content: center;
    align-items: flex-end;
    text-align: end;
  }
  
  .listElement3 {
    grid-column: auto;
    grid-row: 2 span;
  }
  
  .articleCard3 {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
  
    grid-template-areas: 
    'image'
    'about';
  }
  
  .about3 {
    justify-content: flex-start;
    align-items: flex-end;
    text-align: end;
  }
  .articleCard3:hover .about3 {
    transform: none;
  }
}