.aboutUs {
  width: 100%;

}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40rem;
  background-color: var(--color-gray);
}

.name {
  font-family: var(--font-basic);
  font-weight: 500;
  font-size: var(--font-size-big);
  margin-bottom: 11rem;
  line-height: 48rem;
  color: var(--color-white)
}

.vkLink {
  margin-left: 15rem;
}

.vkIcon {
  width: 22rem;
  height: 22rem;
}

.text {
  font-family: var(--font-basic);
  font-weight: 500;
  font-size: var(--font-size-caption-big);
  line-height: 27rem;
  color: var(--color-white)
}

.imageContainer {
  height: 760rem;
}
