.button {
  width: 4vw;
  height: 3vw;
  background-color: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.line {
  width: 100%;
  height: 12%;
  background-color: var(--color-white);
}

.line1 {
  transform-origin: 0% 0%;
  transform: rotate(45deg);
}

.line2 {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
}