.listElement {
  width: 100%;
  height: 100%;
}
.isBig {
  grid-column: span 2;
}

.article {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  60% 40%;
  grid-template-areas: 
  'image'
  'about';
}

.inRow {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: 
  'image about';
}

.isTurned {
  grid-template-areas: 
  'about'
  'image'
  ;
  grid-template-rows:  45% 55%;
}

.inRow.isTurned  {
  grid-template-areas: 
  'about image';
}

.image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  width: 100%;
  height: 100%;
  grid-area: about;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-basic);
  flex-direction: column;
  padding: 2vw;
  box-sizing: border-box;
  transition: all 0.6s ease-out;
}


.isTurned .about {
  justify-content: flex-end;
}

.inRow .about {
  justify-content: center;
}

.article:hover .about {
  background-color: var(--color-gray);
  color: var(--color-white)
}

.title {
  font-size: var(--font-size-small);
  font-weight: 200;
  margin-bottom: 1vw;
}

.text {
  font-size: var(--font-size-body-small);
  font-weight: 200;
}

@media screen and (max-width: 460px) {
  .image {
    object-fit: fill;
  }
  .isBig {
    grid-column: auto;
  }

  .inRow {
    grid-template-columns: 100%;
    grid-template-rows:  50% 50%;
    grid-template-areas: 
    'image'
    'about';
  }
  
  .isTurned {
    grid-template-areas: 
    'image'
    'about';
    grid-template-rows:  50% 50%;

  }
  
  .inRow.isTurned  {
    grid-template-areas: 
    'image'
    'about';
  }
  .content {
    grid-template-rows:  50% 50%;
  }


  .is460Big {
    grid-column: auto;
    grid-row: span 2;
  }

  .in460Row {
    grid-template-rows: 100%;
    grid-template-columns:  45% 55%;
    grid-template-areas: 
    'image about';
  }
  

  .is460Turned {
    grid-template-areas: 
    'about'
    'image';
  }

  .is460Turned.in460Row {
    grid-template-columns:  55% 45%;
    grid-template-areas: 
    'about image';
  }


  .isTurned .about {
    justify-content: flex-start;
  }
  
  .inRow .about {
    justify-content: flex-start;
  }

  .about {
    align-items: flex-end;
    padding: 5vw;
  }

  .text {
    text-align: end;
    font-size: var(--font-size-body);
  }

  .is460Turned .about {
    align-items: flex-end;
    text-align: end;
  }

  .in460Row .about {
    align-items: flex-start;
    text-align: start;
  }

  .in460Row .text {
    text-align: start;
  }

  .in460Row.is460Turned .about {
    align-items: flex-end;
    text-align: end;
  }
  .in460Row.is460Turned .text {
    text-align: end;
  }

  .is460Big .in460Row {
    justify-content: center;
  }

  .title {
    font-size: var(--font-size-middle);
    margin-bottom: 3vw;

  }
}